# Environment variables for my-content-processing-solution-accelerator
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
BLOB_CONN=UseDevelopmentStorage=true
QUEUE_CONN=UseDevelopmentStorage=true
COSMOS_URL=
COSMOS_KEY=
COSMOS_DB=contentdb